<div class="footer">
  Copyright © 2016 ImmiHub.com. All Rights Reserved.
  <p><i>Disclaimer</i>: all information provided on this site is for educational purposes only and should not be treated as an advice.</p>
</div>