<div style="margin-left: 10em">
  <iframe width="620" height="415" src="https://www.youtube.com/embed/mqpZCpmccig" frameborder="0" allowfullscreen></iframe>
  <iframe width="620" height="415" src="https://www.youtube.com/embed/ABW7dGk1JdA" frameborder="0" allowfullscreen></iframe>
  <iframe width="620" height="415" src="https://www.youtube.com/embed/BQGtfCfXl_g" frameborder="0" allowfullscreen></iframe>
</div>