<h2 style="text-align: center">Form filling assistance</h2>
<div style="margin-left: 10%; margin-top: 3em">
  <h4 style="font-weight: bold">We provide full support in filling these forms:</h4>
  <%= form_for 'forms' do %>
      <span style="font-size: large">Citizenship application.</span> <%= submit_tag 'Check eligibility', class: 'btn btn-success btn-sm' %><br>
  <% end %>
</div>