@import "bootstrap";
@import "bootstrap-sprockets";

.footer {
  position: fixed;
  text-align: center;
  width: 100%;
  color: darkgrey;
  font-size: small;
  background-color: #222;
  bottom:0px;
  height:40px;
}