<div class="footer">
  Copyright © 2016 Immigrada.com. All Rights Reserved.
  <p><i>Disclaimer</i>: all information provided on this site is for educational purposes only and should not be used as an advice.</p>
</div>